<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Add Info</title>
    </head>
    <body>
        <h1>Add Information</h1>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            <form action="" method="post">
                <div>
                    <p>If you attempt to add documents to a collection that does not exist, MongoDB will create the collection for you.</p>
                    <label>tag(existed collections:
                        {% for collection in collections %}
                            {% if collection != 'system.indexes' %}
                                {{ collection }}&nbsp;
                            {% endif %}
                        {% endfor %}
                        )
                    </label>
                    <input name="tag">
                </div>
                <div>
                    <label>index</label>
                    <input name="index">
                </div>
                <div>
                    <label>content</label>
                    <input name="content">
                </div>
                <button type="submit">提交</button>
            </form>
        </div>
    </body>
</html>
