<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Add Info</title>
        <link rel="stylesheet" type="text/css" href="/auth/static/hack.css">
        <link rel="stylesheet" type="text/css" href="/auth/static/solarized-dark.css">
        <link rel="stylesheet" type="text/css" href="/auth/static/auth.css">       
    </head>
    <body class="hack solarized-dark">
        <header>Add Information</header>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            <p>If you attempt to add documents to a collection that does not exist<br>
            MongoDB will create the collection for you.</p>
            <p>tag(existed collections:
                {% for collection in collections %}
                    {% if collection != 'system.indexes' %}
                        {{ collection }}&nbsp;
                    {% endif %}
                {% endfor %}
                )</p>
            <form action="" method="post" class="form">
                <fieldset class="form-group">
                    <label>tag</label>
                    <input name="tag" class="form-control">
                </fieldset>
                <fieldset class="form-group">
                    <label>index</label>
                    <input name="index" class="form-control">
                </fieldset>
                <fieldset class="form-group">
                    <label>content</label>
                    <input name="content" class="form-control">
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </div>
            </form>
        </div>
    </body>
</html>
