<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Add to Dic</title>
    </head>
    <body>
        <h1>Add to Dic</h1>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            <form action="" method="post">
                <div>
                    <label>Words:</label>
                    <input name="words">
                </div>
                <div>
                    <label>Types:</label>
                    <input name="types">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
