<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Add to Dic</title>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/auth/static/hack.css">
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/auth/static/solarized-dark.css">
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/auth/static/auth.css">
    </head>
    <body class="hack solarized-dark">
        <header>Add to Dic</header>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="addmargin">
            <form action="" method="post" class="form">
                <fieldset class="form-group">
                    <label>Words:</label>
                    <input name="words" class="form-control">
                </fieldset>
                <fieldset class="form-group">
                    <label>Types:</label>
                    <input name="types" class="form-control">
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>
