<!DOCTYPE>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Chabot Manage Platform</title>
        <link rel="stylesheet" type="text/css" href="/auth/static/hack.css">
        <link rel="stylesheet" type="text/css" href="/auth/static/solarized-dark.css">
        <link rel="stylesheet" type="text/css" href="/auth/static/auth.css">
    </head>
    <body class="hack solarized-dark">
        <header>All The Collections</header>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="btn-box">
            {% for collection in collections %}
                {% if collection != 'system.indexes' %}
                    <button class="btn_index btn btn-primary btn-ghost"><a href="{{ url_for('auth.showcollection', collection=collection) }}">{{ collection }}
                    </a></button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="btn-box">
            <button class="btn_index btn btn-primary btn-ghost">
                <a href="{{ url_for('auth.addinfo') }}">Add Information</a>
            </button>
            <button class="btn_index btn btn-primary btn-ghost">
                <a href="{{ url_for('auth.rminfo') }}">Remove Information</a>
            </button>
            <button class="btn_index btn btn-primary btn-ghost">
                <a href="{{ url_for('auth.rmcollection') }}">Remove Collection</a>
            </button>
            <button class="btn_index btn btn-primary btn-ghost">
                <a href="{{ url_for('auth.addtodic') }}">Add to Dic</a>
            </button>
            <button class="btn_index btn btn-primary btn-ghost">
                <a href="{{ url_for('auth.backup') }}">Backup DB</a>
            </button>
        </div>
    </body>
</html>
