<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Remove Collection</title>
        <link rel="stylesheet" type="text/css" href="/auth/static/hack.css">
        <link rel="stylesheet" type="text/css" href="/auth/static/solarized-dark.css">
        <link rel="stylesheet" type="text/css" href="/auth/static/auth.css">
    </head>
    <body class="hack solarized-dark">
        <header>Remove Collection</header>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="addmargin">
            <div class="addmargin">
                Existed collections:
                    {% for collection in collections %}
                        {% if collection != 'system.indexes' %}
                        <span>
                            {{ collection }}&nbsp;
                        </span>
                        {% endif %}
                    {% endfor %}
            </div>
            <form action="" method="post" class="form">
                <fieldset class="form-group">
                    <label>remove</label>
                    <input name="rm_collection" class="form-control">
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>
