<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- UC强制全屏 --> 
	<meta name="full-screen" content="yes">
	<!-- UC应用模式 --> 
	<meta name="browsermode" content="application">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<title>chatbot</title>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=iW9tLVSnsatY0oRFgDGn5NvxrZIke65b" type="text/javascript"></script>
</head>
<body>
<div class="wrap" id="wrap" v-cloak>
	<app></app>
</div>
<script src="/bundle.js"></script>
</body>
</html>